body{
    padding: 0;
    margin: 0;
  }
  
  *{
    font-family: sans-serif;
  }
  
  .Navbar{
    height: 2.7rem;
    padding: 0 0 0 2vw;
    display: flex;
    justify-content: space-between;
    background-color: rgb(232, 232, 232);
    
  }
  
  .rightex{
    text-align: right;
    margin-right: 1.5vw;
  }
  
  .Navbar a{
    padding: 0 1vw 0 0;
    text-decoration: none;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.75);
    font-size: 1rem;
  }
  
  .Navbar .logo{
    display: inline-block;
    font-size: 1.6rem;
    font-weight:bold;
    padding: 0.2rem 1.5vw 0 0;
    margin-top: 0;
  }
  
  
  .Navbar .search{
    margin-left: 1vw;
    overflow: hidden;
    border: 0;
    padding-left: 1vw;
    border-radius:0.75rem;
    border-color: rgb(232, 232, 232);
    width: 18vw;
    height: 1.2rem;
  }
  
  .Navbar .date{
    display: inline-block;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.55);
  }
  
  .Navbar .dropdown{
    margin-left: 1.5vw;
    overflow: hidden;
    border-radius:0.75rem;
    border-color:rgb(4, 108, 206);
    color:rgb(4, 108, 206);
    font-size: 1rem;
  }
  
  .Navbar .extra{
    display: inline-block;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.55);
    margin-left: 1.5vw;
  }
  
  .Navbar .icon{
    display: inline-block;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.55);
    margin-left: 1.5vw;
  }
  
  .Heading{
    margin:0.5rem 0 0.5rem 2vw;
    color:rgb(4, 108, 206);
  }
  
  hr {
    border-style: solid;
    border-color: rgb(232, 232, 232);
    margin-bottom: 0;
  }
  
  .subhead{
    margin: 0.5rem auto 0.5vh auto;
    font-weight: 300;
    font-size: 1.2rem;
    display: inline-block;
  }
  
  .container{
    width: 50vw;
    margin:0;
    padding-left: 2vw;
  }
  
  .seph{
    border-bottom: 0.1rem solid rgb(232, 232, 232);
    width: 46.6vw;
    margin-top: 0.5rem;
  }
  
  .sepv{
    border-left: 0.15rem solid rgb(232, 232, 232);
    height: 83vh;
    position: absolute;
    left: 50%;
    margin-left: -0.075rem;
    top: 15vh;
  }
  
  label{
    display:block;
    font-size: 0.8rem;
    color: rgb(60, 60, 60);
  }
  
  .qm{
    font-size: 0.5rem;
    display: inline-block;
    text-align: center;
    height: 0.6rem;
    width: 0.6rem;
    border: 0.05rem solid rgb(75, 75, 75);
    border-radius: 50%;
    position: relative;
    bottom: 0.1rem;
  }
  
  .inp {
    display:inline-block;
    margin-right:1.5vw ;
    
  }
  
  .inp input{
    border: 0.1rem solid rgb(232, 232, 232);
    width: 13.2vw;
    height: 1.5rem;
    border-radius: 5%;
  }
  
  #warn{
    color:rgb(4, 108, 206);
    font-size: 0.8rem;
  }
  
  #warn-con{
    display: inline-block;
    width: 33vw;
  }
  
  #warn-butn{
    margin-left: 2.8vw;
    border: 0;
    background-color: rgb(7, 82, 245);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 11%;
    position: relative;
    bottom: 0.5rem;
  }
  
  .capt{
    color: rgb(99, 99, 99);
    font-size: 0.8rem;
    margin-top: 0;
  }
  
  .inp2 input{
    border: 0.1rem solid rgb(232, 232, 232);
    width: 5vw;
    height: 1.5rem;
    border-radius: 5%;
  }
  
  .inp2{
    margin-top: 0.5rem;
    display: inline-block;
    margin-right: 1vw;
  }
  
  .detail{
    display: inline-block;
    margin-left: 1.5vw;
    color: rgb(99, 99, 99);
    font-size: 0.8rem;
  }
  
  #i10{
    width: 46.3vw;
  }
  
  #i11{
    width: 13.6vw;
  }
  
  .License-inf{
    display: inline-block;
    font-size: 0.8rem;
    margin-right: 1.5vw;
  }
  
  .dot{
    height: 1rem;
    width: 1rem;
    background-color:rgb(16, 192, 25);
    border-radius: 50%;
    position: relative;
    top: 0.25rem;
  }
  
  .License-ex{
    font-size: 0.7rem;
    color: rgb(99, 99, 99);
  }
  
  .inp3 input{
    border: 0.1rem solid rgb(232, 232, 232);
    width: 9.5vw;
    height: 1.5rem;
    border-radius: 5%;
  }
  
  .inp3{
    margin-top: 0.5rem;
    display: inline-block;
    margin-right: 1vw;
  }
  
  .taxi-info{
    border: 0.1rem solid rgb(232, 232, 232);
    display: inline-block;
    margin-right: 0.5vw;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    font-size: 0.5rem;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    color: rgb(99, 99, 99);
    box-shadow: rgb(232, 232, 232) 0 0.15rem 0.15rem;
  }
  
  .inp4 input{
    border: 0.1rem solid rgb(232, 232, 232);
    width: 5vw;
    height: 1.5rem;
    border-radius: 5%;
  }
  
  .inp4{
    margin-top: 0.5rem;
    display: inline-block;
    margin-right: 1vw;
  }
  
  #vex{
    display: inline;
    position: relative;
    top:1rem;
    right: 30vw;
  }
  
  .vehicle-inf{
    display: inline-block;
    font-size: 0.8rem;
    margin-right: 1.4vw;
    position: relative;
    bottom: 0.3rem;
  }